* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url(images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/* Box2 */
.add-icon {
    display: flex;
    align-items: center;
}

.add-first {
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    margin-left: 3px;

}

/* Box3 */
.nav-search {
    display: flex;
    height: 40px;
    width: 620px;
    background-color: aqua;
    border-radius: 4px;

}

.search-select {
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    background-color: #f3f3f3;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 251, 0);
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.2rem;

}

.nav-search:hover {
    border: 2px solid orange;
}

/* Box4& Box5 */
.signin-first {
    font-size: 0.7rem;
}

.signin-second {
    font-size: 0.85rem;
    font-weight: 800;
}

/* Box6 */
.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 30px;
}

/* Panel */
.panel {
    height: 40px;
    background-color: #121d36;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}

.panel-ops {
    width: 70%;
}

.ops-list {
    list-style: none;
    ;
}

.ops-list a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

.panel-deal {
    text-align: right;
    font-size: 0.9rem;
    font-weight: 700;
}

/* Hero */
.hero-section {
    background-image: url(images/hero_image.jpg);
    height: 450px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-msg {
    padding: 10px;
    height: 40px;
    background-color: white;
    text-align: center;
    width: 75%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: rgb(0, 83, 128);
    text-decoration: none;
}

/* Shop Section*/
.shop-section {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(207, 207, 207);
    justify-content: space-evenly;
    margin: 20px 0 10px 0;

}

.box {
    width: 23%;
    height: 400px;
    background-color: white;
}

.box-img {
    height: 300px;
    background-size: cover;
}

.box h2 {
    margin: 20px 0px;
}

.box a {
    text-decoration: none;
    display: block;
    margin: 10px 20px;
}

/* Footer */
.footer-top {
    height: 70px;
    background-color: rgb(49, 82, 132);
    text-align: center;
    color: white;
    padding: 30px 0;
}

.footer-mid {
    display: flex;
    background-color: rgb(14, 47, 90);
    color: white;
    justify-content: space-evenly;
    padding: 10px 0 40px 0;
}

.midinfo h3 {
    padding: 40px 0 10px 0;
}

.midinfo p {
    padding: 10px 0;
}

.footer-lang {
    display: flex;
    background-color: rgb(14, 47, 90);
    height: 60px;

}

.footer-logo {
    height: 150px;
    background-color: rgb(14, 47, 90);
    display: flex;
    justify-content: center;

}

.footer-logo img {
    background-size: cover;
    background-color: rgb(14, 47, 90);
    padding: 20px 0 0 0;
}