#id2
{
    background-color: aquamarine;
    width: 300px;
    color: whitesmoke;
    padding: 23px;
}
#id
{
background-color: blue;
color: cadetblue;
padding: 20px;
}
.k
{
    color:tomato;
    background-color: cornsilk;
}